.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 {
  background: #b3854f;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #cca57f;
  width: 100%;  
  height: 406px;  
  position: absolute;
  left: 0px;
  top: 657px;
}
._2108-i-605-035-s-m-005-c-12-1 {
  width: 2000px;  
  height: 712px;
  position: absolute;
  left: -44px;
  top: -55px;
  object-fit: cover;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.eco-craft {
  color: #4d3f32;
  text-align: left;
  font-family: "JejuHallasan-Regular";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 70.07px;
  top: 17.81px;
  width: 276.93px;
  height: 34.66px;
}
.image-1 {
  width: 79.82px;
  height: 45.85px;
  position: absolute;
  left: 0px;
  top: 12px;
  object-fit: cover;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.group-10 {
  width: 294px;
  height: 76px;
  position: static;
}
.group-11 {
  width: 294px;
  height: 76px;
  position: static;
}
.group-12 {
  width: 294px;
  height: 76px;
  position: static;
}
.group-8 {
  width: 294px;
  height: 76px;
  position: static;
}
.group-7 {
  width: 294px;
  height: 76px;
  position: static;
}
.group-4 {
  width: 294px;
  height: 76px;
  position: static;
}
.rectangle-1 {
  background: #b3854f;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 294px;
  height: 76px;
  position: absolute;
  left: 573px;
  top: 860px;
}
.download {
  color: #000000;
  text-align: left;
  font-family: "JejuHallasan-Regular";
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 581.84px;
  top: 874px;
  width: 258.63px;
  height: 48px;
}
.vector {
  height: auto;
  position: absolute;
  right: 40.76%;
  left: 56.94%;
  width: 2.29%;
  bottom: 10.94%;
  top: 86.23%;
  height: 2.83%;
  overflow: visible;
}
.rectangle-3 {
  background: #d9d9d9;
  border-radius: 18px;
  width: 1211px;
  height: 661px;
  position: absolute;
  left: 114px;
  top: 128px;
}
.former-mine-worker-artistically-recycles-old-tires-into-furniture-1 {
  width: 798px;
  height: 542px;
  position: absolute;
  left: 321px;
  top: 188px;
  object-fit: cover;
}
