

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #b3854f;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #cca57f;
  width: 100%;  
  height: 406px;  
  position: absolute;
  left: 0px;
  top: 657px;
}
._2108-i-605-035-s-m-005-c-12-1 {
  width: 2000px;  
  height: 712px;
  position: absolute;
  left: -44px;
  top: -55px;
  object-fit: cover;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #7f664e;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 448px;
  height: 93px;
  position: absolute;
  left: 927px;
  top: 880px;
}
.get-started {
  color: #f1d7b7;
  text-align: left;
  font-family: "JejuHallasan-Regular";
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 968px;
  top: 897px;
  width: 366px;
  height: 59px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.eco-craft {
  color: #4d3f32;
  text-align: left;
  font-family: "JejuHallasan-Regular";
  font-size: 170px;
  font-weight: 400;
  position: absolute;
  left: 444px;
  top: 674px;
  width: 739px;
  height: 161px;
}
.image-1 {
  width: 213px;
  height: 213px;
  position: absolute;
  left: 257px;
  top: 647px;
  object-fit: cover;
}
